body {
    box-sizing: border-box;
    background-image: url("../images/dark-paths.png");
    font-size: 12ft;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.title {
    font-size: 2.5em;
}

.title, h1, h2, h3, h4, h5, h6 {
    font-family: 'Fugaz One', cursive;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}

h4 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.25em;
}

a, a:visited {
    text-decoration: none;
    color: black;
    
}
li {
    list-style: none;
    font-size: 1.5em;
}
.chat-time {
    font-size: .5em;
}

header, footer, aside, section, #left-select, #right-select, main, #chat, #history {
    box-sizing: border-box;
    background-color: white;
    background-image: url("../images/light-grey-terrazzo.png");
    border-radius: 2px;
    padding: 10px;
}

.grid-container {
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60em;
    margin: 0 auto;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
}

header, #scoreboard, footer {
    grid-column: 1/3;
    text-align: center;
}

.main-header {
    display: flex;
    justify-content: space-evenly;
}

#left-select {
    grid-column: 1/2;
}

#right-select {
    grid-column: 2/3;
}

.player-btns {
    text-align: center;
}

main {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 5px;
    /* grid-auto-flow: row;  */
}

#p1image, #status, #p2image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1image {
    grid-column: 1/2;
}

#status {
    grid-column: 2/3;
    font-size: 2em;
    text-align: center;
}

#p2image {
    grid-column: 3/4;
}

.select {
    border-radius: 25%;
}

.p1select, .p2select {
    border-radius: 10px;
    margin: 5px;
}

button>img {
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.pickedImage {
    width: 12em;
    height: 12em;
    object-fit: cover;
}

.p1status, .p2status {
    font-size: 2em;
}

.btn-opacity {
    opacity: 0.5;
}

#chat {
    box-sizing: border-box;
    grid-column: 1/3;
    padding: 5px 10px;
    height: 100%;
}

#chat-box {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    background-color: black;
    background-image: url("../images/px_by_Gre3g_@2X.png");
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    height: 12em;
    overflow-y: scroll;
    margin-bottom: 5px;
}

#chat>input {
    box-sizing: border-box;
}

#input-section {
    display: flex;
    justify-content: flex-end;

}

#input-text {
    width: 100%;
    height: 2em;
    box-sizing: border-box;
    background-color: rgb(82, 82, 82);
    color: white;
    font-size: 1.5em;
}

#submit, #btnName {
    border-radius: 5px;
    margin-left: 5px;
    background-image: url("../images/rubber_grip_@2X.png");
    color: white;
    font-size: 1.5em;
}
#submit {
    width: 10em;
    height: 2em;
    box-sizing: border-box;
    
}
#btnName {
    width: 15em;
}

/* footer {
    text-align: center;
} */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        font-size: .75em;
    }
    .title {
        font-size: 2em;
    }
    h2 {
        font-size: 2em;
    }
    h4 {
        font-size: 2em;
    }
    .grid-container {
        width: 90%;
        margin: 0 auto;
    }
    #p1image>img, #p2image>img {
        width: 256px;
        height: 256px;
        object-fit: cover;
    }

    button>img {
        width: 64px;
        height: 64px;
        object-fit: cover;
    }
    #chat {
        box-sizing: border-box;
        grid-column: 1/3;
        padding: 5px 10px;
        height: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: .5em;
    }
    .title {
        font-size: 3em;
    }
    .grid-container {
        width: 100%;
        margin: 0 auto;
    }
    #p1image>img, #p2image>img {
        width: 12em;
        height: 12em;
        object-fit: cover;
    }
    h2 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1.5em;
    }
    #input-text, #submit, #btnName {
        height: 3.5em;
    }
    #input-text {
        width: 100%;
        box-sizing: border-box;
    }
    
    #submit {
        width: 11em;
        box-sizing: border-box;
    }
    button>img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin: 0 5px 5px 5px;
    }

    .p1select, .p2select {
        margin: 1px;
    }

    #status {
        font-size: 2em;
    }

    #chat {
        box-sizing: border-box;
        grid-column: 1/3;
        padding: 5px 10px;
        height: 100%;
    }
    #chat-box {
        box-sizing: border-box;
        width: 100%;
        resize: none;
        /* margin-right: 15px; */
        background-color: black;
        color: rgb(0, 255, 0);
        font-size: 1.5em;
        text-align: left;
        height: 11em;
    
    }
}